.container {
  width: 100%;
  height: 600px;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.first {
  width: 100%;
  height: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.secund {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.formed {
  width: 45%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid black;
}

.margin_h3 {
  font-size: 30px;
}

.margin_p {
  font-size: 20px;
}

.one {
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.two {
  width: 100%;
  height: 35%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.three {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
}

.margin_one_p {
  font-size: 20px;
}

.margin_one_span {
  font-size: 60px;
  color: rgb(2, 119, 107);
}

.margin_one_h3 {
  font-size: 22px;
}

.BTN {
  width: 25%;
  height: 70%;
  background-color: rgb(2, 119, 107);
  color: white;
  border-radius: 20px;
  margin: auto;
  border: none;
}
.text {
  text-decoration: line-through;
}

.BTN_A {
  display: none;
  width: 25%;
  height: 70%;
  background-color: rgb(2, 119, 107);
  color: white;
  border-radius: 20px;
  margin: auto;
  border: none;
}

.text_margin {
  font-size: 18px;
}

@media (max-width: 1201px) {
  .margin_one_span {
    font-size: 50px;
    color: rgb(2, 119, 107);
  }
  .margin_one_h3 {
    font-size: 20px;
  }
  .margin_one_p {
    font-size: 18px;
  }
}

@media (max-width: 830px) {
  .BTN {
    display: none;
  }
  .BTN_A {
    display: block;
  }
}

@media (max-width: 691px) {
  .margin_h3 {
    font-size: 25px;
  }

  .margin_p {
    font-size: 18px;
  }
}

@media (max-width: 651px) {
  .margin_h3 {
    font-size: 20px;
  }

  .margin_p {
    font-size: 16px;
  }
  .margin_one_span {
    font-size: 35px;
    color: rgb(2, 119, 107);
  }
  .margin_one_h3 {
    font-size: 18px;
  }
  .margin_one_p {
    font-size: 16px;
  }
  .text_margin {
    font-size: 16px;
  }
}

@media (max-width:355px){
  .margin_p{
    text-align: center;
  }
  .text {
  font-size: 14px;
  }
  .text_margin{
    font-size: 14px;

  }
}